*, *::after, *::before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: "Open Sans", sans-serif;
	color: #3e454c;
	background-color: #ffffff;
}
body::after {
	clear: both;
	content: "";
	display: table;
}

a {
	color: #1784c7;
	text-decoration: none;
}

input {
	font-family: "Open Sans", sans-serif;
	font-size: 1.6rem;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

#root{
	position: absolute;
	min-height: 100%;
	min-width: 100%;
}


.cd-main-content::before {
	/* never visible - used to check MQ in jQuery */
	display: none;
	content: 'mobile';
}

.cd-nav {
	/* top nav - not visible on mobile devices */
	display: none;
}
@media only screen and (min-width: 768px) {
	.cd-nav {
		display: block;
		float: right;
		height: 100%;
	}
}

.cd-top-nav > li > a::before {
	/* reset style */
	display: none;
}
.cd-top-nav > li a {
	padding: 1em 5% !important;
}
.cd-top-nav img {
	/* avatar image */
	position: absolute;
	left: 1.8em;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 20px;
	width: 20px;
	border-radius: 50%;
	display: none;
}
@media only screen and (min-width: 768px) {
	.cd-top-nav {
		height: 100%;
	}
	.cd-top-nav a {
		display: block;
		font-size: 1.4rem;
		color: #ffffff;
	}
	.cd-top-nav > li {
		display: inline-block;
		margin-right: 1em;
		height: 100%;
	}
	.cd-top-nav > li:last-of-type {
		margin-right: 0;
	}
	.cd-top-nav > li a {
		padding: 1em .6em !important;
	}
	.cd-top-nav img {
		display: block;
	}
}
@media only screen and (min-width: 1170px) {
	.cd-top-nav li:not(.has-children) a:hover {
		color: #1784c7;
	}
}
.cd-side-nav {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	padding: 45px 0 0;
	background-color: #2c3136;
	visibility: hidden;
	opacity: 0;
	max-height: 100vh;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
	-moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
	transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
.cd-side-nav.nav-is-visible {
	opacity: 1;
	visibility: visible;
	overflow: visible;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
	-moz-transition: opacity 0.2s 0s, visibility 0s 0s;
	transition: opacity 0.2s 0s, visibility 0s 0s;
	max-height: none;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.cd-side-nav > ul {
	padding: 0.6em 0;
}
.cd-side-nav > ul:last-of-type {
	padding-bottom: 0;
}
.cd-side-nav a {
	display: block;
	padding: 1em 5%;
}
.cd-side-nav a {
	position: relative;
	color: #ffffff;
	font-size: 1.4rem;
}
.cd-side-nav ul.cd-top-nav > li:last-of-type > a {
	border-bottom: none;
}
.cd-side-nav > ul > li > a {
	padding-left: calc(5% + 24px);
	border-bottom: 1px solid #373d44;
}
.cd-side-nav > ul > li > a::before {
	/* icon before item name */
	position: absolute;
	content: '';
	left: 5%;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 16px;
	width: 16px;
}
@media only screen and (min-width: 768px) {
	.cd-side-nav {
		position: fixed;
		float: left;
		top: auto;
		width: 110px;
		min-height: 100vh;
		padding-top: 55px;
		/* reset style */
		visibility: visible;
		opacity: 1;
		overflow: visible;
		max-height: none;
	}
	.cd-side-nav.nav-is-visible {
		box-shadow: none;
	}
	.cd-side-nav.is-fixed {
		position: fixed;
	}
	.cd-side-nav > ul {
		/* reset style */
		padding: 0;
	}
	.cd-side-nav a {
		font-size: 1.2rem;
		text-align: center;
	}
	.cd-side-nav > ul > li > a {
		padding: 24px 0;
	}
	.cd-side-nav > ul > li > a::before {
		left: 50%;
		right: auto;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
		top: 2.4em;
	}
}
@media only screen and (min-width: 1170px) {
	.cd-side-nav {
		width: 200px;
	}
	.cd-side-nav > ul {
		padding: 0.6em 0;
	}
	.cd-side-nav > ul > li:not(.action-btn):hover > a {
		background-color: #33383e;
	}
	.cd-side-nav > ul > li > a {
		padding: 1em;
		text-align: left;
		border-bottom: none;
	}
	.cd-side-nav > ul > li > a::before {
		top: 50%;
		bottom: auto;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		left: 18px;
	}
}

.has-children ul {
	position: relative;
	width: 100%;
	display: none;
	background-color: #1c1f22;
}
.has-children.selected > ul {
	display: block;
}
@media only screen and (min-width: 768px) {
	.has-children {
		position: relative;
	}
	.has-children ul {
		position: absolute;
		top: 0;
		left: 100%;
		width: 160px;
		padding: 0;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	}
	.has-children ul a {
		text-align: left;
		border: none;
		padding: 1em;
	}
	.has-children ul a:hover {
		color: #1784c7;
	}
	.cd-side-nav .has-children.selected > a {
		/* focus state -> show sub Pages */
		background-color: #33383e;
	}
	.cd-top-nav .has-children {
		position: relative;
		background-color: #2c3136;
	}
	.cd-top-nav .has-children > a {
		height: 100%;
		padding: 0 calc(1.8em + 22px) 0 calc(1.8em + 26px) !important;
		line-height: 55px;
	}
	.cd-top-nav .has-children ul {
		background-color: #1c1f22;
		width: 200px;
		top: 100%;
		right: 0;
		left: auto;
		box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	}
	.cd-top-nav .has-children ul a {
		padding-left: 18px !important;
	}
}
@media only screen and (min-width: 1170px) {
	.has-children > ul {
		width: 100%;
		z-index: 1;
	}
	.has-children ul a {
		padding-left: 18px;
	}
	.cd-side-nav .has-children:hover > ul, .cd-side-nav .has-children.hover > ul {
		/* show subnavigation on hover */
		display: block;
		opacity: 1;
		visibility: visible;
	}
}
